{% extends 'layout.html' %}
{% block content %}
    {% if not converted_text %}
        
        <img id="waitingspongebob" src="{{url_for('static', filename='img/waiting.png')}}"/>
        <br><br><br><br><br>
        <form method="POST" enctype="multipart/form-data">
            <i class="fas fa-upload"></i>
            <input class = 'border' type = "file" name="file" method = 'post' id = "uploadedfile" required/>
            <button>submit</button>
        </form>
        
    
    
    {% else %}
        
        
        {% for i in range(data_size) %}
            {% if d["conf"][i] >= 60 %}
                <button class="word-button" onclick="toSound(this)" style="cursor:pointer;position:absolute;top:{{ d['top'][i]-100 }}px;left:{{  d['left'][i] }}px;width:{{ d['width'][i] }}px;height:{{ d['height'][i] }}px;font-size:{{ font_size }}px">{{ d['text'][i] }}</button>
            {% endif %}
        {% endfor %}
        
        <a href="/"><button id="home-button" action="/">Home</button></a>       
        <button id="summary-button" onclick="showSummary()">Show Summary</button>
        <p id="summary" style="display:none">{{ summary }}</p>
    {% endif %}

{% endblock %}