<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload File</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check"> 
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>
            <label class="logo">DyslexiaElevate</label>
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a class="active" href="./features.html">Features</a></li>
            </ul>
        </nav>
        <img id="waitingspongebob" src="./waiting.png"/>
        <br><br><br><br><br>
        <form>
            <i class="fas fa-upload"></i>
            <input class = 'border' type = "file" method = 'post' id = "uploadedfile" accept = ".doc,.docx,.pdf" multiple/>
            <button>submit</button>
        </form>
    </body>
</html>